.posted-jobs {
  height: 72px;
  padding: 0 16px;
  color: #008FB4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.my-offers {
  height: 72px;
  padding: 0 16px;
  color: #008FB4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.received-offers {
  height: 72px;
  padding: 0 16px;
  color: #008FB4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: normal;
}
