$font-color: #008FB4;
.dash-column-titles{
  height: 80px;
  padding-right: 0;
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 38px;
  border-bottom: 1px solid $font-color;
}
.no-text-present{
  color: $font-color;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.list-group-item{
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}



.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: normal;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 405px;
}
#dash-main-title {
  text-align: center;
  font-size: 50px;
}
#dash-container{
  border-bottom: 1px solid $font-color;
}
