.map-container{
  height: 80vh;
  width: 45%;
  margin: 0 auto;
  margin-top: 10px;
  position: sticky;
  top: 72px;
  // sticky needs to be adjusted to final navbar size
}
#jobs-container{
  height: fit-content;
}
#main-container{
  height: fit-content;
}
#map{
  height: 100%;
  width: 100%;
}

#search-form{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.user-avatar{
  background-size: cover;
}
