
<div class="container mt-3 d-flex justify-content-between">
  <h2 class="m-3">All jobs</h2>
  <h2><%= link_to "New job", new_job_path, class: "btn btn-primary text-white rounded-5" %></h2>
</div>
<div class="container mt-3 row m-auto">
  <div class="jobs-container col-4">
    <% @jobs.each do |e| %>
      <div class="m-3 col-3 job-card" id="">
        <%= link_to job_path(e), class: "text-decoration-none" do %>
          <p class=""><%= e.description %></p>
          <p class="ps-2"><%= link_to "Remove", job_path(e), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none text-danger" %></p>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="map-container col-8 sticky-top">
  </div>
</div>
