<div id="wrapper-container">
<div id="wrapper">
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <h1 class="home-text">Find the job for you</h1>
  <h1 class="home-text">Find the professional for you</h1>
  <h1 class="home-text">No job too small</h1>
  <h1 class="home-text">No job too big</h1>
  <h1 class="home-text">A job for everyone</h1>
  <h1 class="home-text">A professional for everyone</h1>
  <h1 class="home-text">Try it out</h1>
</div>
</div>
