.map-container{
  height: 800px;
  background-color: lightcyan;
  // sticky needs to be adjusted to final navbar size
}

.job-card{
  height: 200px;
  width: 450px;
  border-radius: 5px;
  border: 2px solid grey;
}
.card-title{
  width: 100%;
  height: 20%;
  margin: 0px;
  .card-job-title{
    padding: 10px;
  }
  .card-budget{
    padding: 10px;
  }
}
.card-info{
  height: 55%;
  padding-left: 10px;
  .card-info-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.user-avatar{
  height: 75px;
  width: 75px;
  background-color: grey;
  border-radius: 50%;
}
.card-links{
  display: flex;
  align-items: center;
  height: 25%;
  padding-left: 10px;
}
.btn-see-job{
  display: flex;
  align-items: center;
  width: fit-content;
}
